{{ define "main" }}
  <article>
    <header>
      {{ with .Params.avatar }}<img src="{{ . }}" alt="" class="author-avatar">{{ end }}
      <h1>{{ .Title }}</h1>
    </header>

    {{ with .Content }}<div class="author-bio">{{ . }}</div>{{ end }}

    <ul class="author-socials">
      {{ with .Params.github  }}<li><a href="https://github.com/{{ . }}">GitHub</a></li>{{ end }}
      {{ with .Params.twitter }}<li><a href="https://x.com/{{ . }}">Twitter</a></li>{{ end }}
      {{ with .Params.bluesky }}<li><a href="https://bsky.app/profile/{{ . }}">Bluesky</a></li>{{ end }}
      {{ with .Params.website }}<li><a href="{{ . }}">Website</a></li>{{ end }}
      {{ with .Params.discord }}<li>Discord: {{ . }}</li>{{ end }}
    </ul>

    <h2>Posts by {{ .Title }}</h2>
    <ul>
      {{ range .Pages.ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>{{ .Date.Format "2006-01-02" }}</small></li>
      {{ end }}
    </ul>
  </article>
{{ end }}
